.btn {
    -fx-cursor: hand;
}
.note-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.note-date {
    -fx-font-size: 12px;
    -fx-text-fill: #777;
}
.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}